*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	display: flex;
}
.container-fluid{
	margin:0;
	padding:0;
}
.row{
	padding: 0px;
	margin: 0px;
}
.header{
	font-weight: bold;
	font-size: 35px;
}
.head{
	font-size: 25px;
}
.font1{
	font-weight: bold;
	font-size: 22px;
}
.font2{
	color: grey;
	font-size: 20px;
}
.top{
	margin-top: 15px;
}
div a{
	color: black;
}
a:hover{
	color: black;
}
.background{
	background-color: skyblue;
	padding-top: 5px;
	padding-bottom: 5px;
}
.input{
	width: 100%;
	border-radius: 10px;
	padding: 5px;
	padding-left: 15px;
	outline: none;
}
.container{
	display: flex;
	flex-direction: column;
	margin-top:20px;
	width: 100%;
	padding-bottom: 30px;
}
.container .matpel{
	width: 1200px;
	height: 420px;
	display: flex;
	flex-direction: column;
	margin-top:20px;
}
.container .matpel .topic{
	width:20%;
	height:10%;
	border:1px solid;
	border-bottom: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container .matpel .topic p{
	margin:0;
	font-size: 25px;

}
.matpel .list-book{
	display: flex;
	border:1px solid;
	width: 100%;
	height: 90%;
	padding:10px;
	overflow-x: scroll;
}
.list-book .box-book{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 30px;
	width: 14%;
	height: 100%;
}
.box-book .image-book{
	display: flex;
	justify-content: center;
}
.box-book .image-book img{
	width: 120px;
	height: 80%;
}
.box-book .topic-book{
	font-size: 18px;
	text-align: center;
	margin-top:10px;
}
.box-book .button{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.box-book .button button{
	width: 80%;
}
@media(max-width:480px){
	.matpel .list-book{
		width: 400px;
	}
	.list-book .box-book{
		width: 100%;
	}
}