.row{
	padding: 0px;
	margin: 0px;
}
.header{
	font-weight: bold;
	font-size: 35px;
}
.head{
	font-size: 22px;
}
.font1{
	font-weight: bold;
	font-size: 22px;
}
.font2{
	color: grey;
	font-size: 20px;
}
.top{
	margin-top: 15px;
}
div a{
	color: black;
}
a:hover{
	color: black;
}
.background{
	padding: 100px;
	background-color: skyblue;
}
.border{
	padding: 10px;
}
.img{
	width: auto;
}
@media screen and (max-width:500px) {
@media screen and (max-width:500px){
}
	.background{
		padding: 40px;
	}
	.top1{
		margin-top: 25px;
	}
	.top2{
		margin-top: -170px;
	}
}