@font-face{
	font-family: amaranth;
	src:url(../Font/Amaranth-Regular.ttf);
	color: blue;
}
@font-face{
	font-family: roboto;
	src:url(../Font/Roboto-Thin.ttf);
}
@font-face{
	font-family: amaranth;
}
@font-face{
	font-family: roboto;
}
.row{
	padding: 0px;
	margin: 0px;
}
.header{
	font-weight: bold;
	font-size: 35px;
}
.head{
	font-size: 22px;
}
.font1{
	font-weight: bold;
	font-size: 20px;
	font-family: amaranth;
}
.font2{
	color: grey;
	font-size: 18px;
	font-family: amaranth;
}
.top{
	margin-top: 15px;
}
.background{
	margin-top: 10px;
	background-image: url('../images/library1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 115px;
	padding-bottom: 115px;
}
.background1{ 
	padding: 0px 25px 20px 25px;
	background-image:url('../images/lata1.png');
}
.content{
	font-size: 40px;
	color: black;
}
.button{
	color: white;
	background-color:#0F9696;
	width: 100%;
	font-size: 23px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 40px;
	outline: none;
	border-radius: 5px;
}
.button:hover{
	background-color:#336565;
}
.button1{
	color:white;
	background-color:#17a2b8;
	border: none;
	font-size: 20px;
	width: 120px;
	outline: none;
	border-radius: 3px;
}
.button1:hover{
	background-color: #0F9696;
}
.text{
	color: black;
	font-size: 30px;
}
.border{
	background-color:transparent;
}
.jarak{
	margin: 15px 0px;
}
div a{
	color: black;
}
a:hover{
	color: black;
}
.fav{
	padding: 10px;
}
.kotak{
	background: rgba(168,233,208,0.6);
	max-width: 600px;
	width: 100%;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	padding: 20px;
}
.imgpad{
	margin-right: 10px;
}