.row{
	padding: 0px;
	margin: 0px;
}
.header{
	font-weight: bold;
	font-size: 35px;
}
.head{
	font-size: 25px;
}
.font1{
	font-weight: bold;
	font-size: 22px;
}
.font2{
	color: grey;
	font-size: 20px;
}
.top{
	margin-top: 15px;
}
.background{
	margin-top: 10px;
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 115px;
	padding-bottom: 115px;
}
.background1{ 
	padding: 0px 25px 20px 25px;
	background-image: linear-gradient(to right, darkgrey, #4f575f);
}
.content{
	font-size: 45px;
	color: white;
}
.button{
	color: white;
	background-color: #d83b3b;
	width: 100%;
	font-size: 23px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 40px;
	outline: none;
}
.button:hover{
	background-color:#992612;
}
.button1{
	color: yellow;
	background-color: #d83b3b;
	border: none;
	font-size: 20px;
	width: 120px;
}
.text{
	color: black;
	font-size: 30px;
}
.border{
	border : 1px solid black;
	background-image: linear-gradient(to bottom, white, lightblue, skyblue, white);
}
.jarak{
	margin: 15px 0px;
}
div a{
	color: black;
}
a:hover{
	color: black;
}