.body{
	background-image: url('../images/lata1.png');
	background-repeat: no-repeat;
	background-size:cover;
}
.kotak{
	padding:10px;
	padding-left: 100px;
}
.judul{
	font-size:40px;
	padding-left: 20px;
	color:white;
}
.title{
	padding-left:20px;
	margin-top:30px;
	font-size: 60px;
}
.button1{
	background-color: transparent;
	border:1px solid black;
	font-weight: bold;
}
.button1:hover{
	background-color:black;
	color:white;
}
.help{
	padding:6px 20px;
}