@font-face{
	font-family: amaranth;
	src:url(../Font/Amaranth-Regular.ttf);
	color: blue;
}
@font-face{
	font-family: roboto;
	src:url(../Font/Roboto-Thin.ttf);
}
@font-face{
	font-family: amaranth;
}
@font-face{
	font-family: roboto;
}
.row{
	padding: 0px;
	margin: 0px;
}
.header{
	font-weight: bold;
	font-size: 35px;
}
.head{
	font-size: 22px;
}
.font1{
	font-weight: bold;
	font-size: 20px;
	font-family: amaranth;
}
.font2{
	color: grey;
	font-size: 18px;
	font-family: amaranth;
}
.top{
	margin-top: 15px;
}
.top1{
	margin-top: 15px;
	margin-bottom: 15px;
}
.background{
	background-image:url('../images/lata1.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 75px;
	padding-bottom: 220px;
}
.img{
	width: 150px;
	background-color: white;
	border-radius: 50%;
}
.button{
	color: white;
	background-color: #d83b3b;
	width: 100%;
	font-size: 23px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 40px;
}
.kanan{
	margin-left: -25px;
}
.kanan1{
	margin-left: -100px;
}
.wid{
	font-size: 25px;
}
div a{
	color: black;
}
a:hover{
	color: black;
}
.top2{
	margin-top: 30px;
}