*{
	font-family: coolvetica;
}
.body{
	height: 2000px;
}
.flex{
	display: flex;
	align-items: center;
}
.flex-end{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 50%;
}
.header{
	padding: 50px;
}
.header .title{
	font-size: 50px;
	width: 80%;
	text-align: center;
}
.header .submit{
	color: #ed145b;
	font-size: 50px;
}
.hr{
	border: 1px solid;
}
.box{
	padding: 20px 40px 20px 80px;
}
.box .img1{
	width: 250px;
	height: 250px;
}
.box .text{
	font-size: 50px;
	border: none;
	width: 100%;
}
.box .img{
	width: 80px;
	height: 80px;
}
.box .box-in{
	margin-left: 30px;
	font-size: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: black;
	width: 100%;
}
.box .box-in .img2{
	width: 80px;
	height: 80px;
	cursor: pointer;
}
.box .box-in .text2{
	width: 40%;
	text-align: right;
	border: none;
}
.box .box-in .text3{
	width: 40%;
	margin-left: 25px;
	border: none;
}
.footer{
	width: 100%;
	background-color: white;
	box-shadow: 5px 0px 10px 2px;
	text-align: center;
	display: flex;
	padding:20px;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	bottom: 0px;
	z-index:100;
}
.box4{
	padding:10px;
}
.footer a:hover{
	text-decoration: none;
}
.box4 .img2{
	width: 100px;
	height: 100px;
}
.box4 .text{
	color:  #6dcff6;
	font-size: 35px;
	margin-top: 5px;
}
.box4 .text1{
	color:  grey;
	font-size: 35px;
	margin-top: 5px;
}