<html>
	<head>
		<title>Wash Me</title>
		<link rel="stylesheet" type="text/css" href="../asset/css/welcome.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	</head>
	<body>
		<div class="header">
			<div class="image">
				<img src="../asset/images/header.jpg" alt="header">
			</div>
			<div class="blue-color"></div>
			<div class="topic-top">
				<header>
					<div class="logo">
						<img src="../asset/images/logo.png" alt="logo">
					</div>
					<div class="list">
						 <ul>
						 	<li>Home</li>
						 	<li>About Wash Me</li>
						 	<li>Our Apps</li>
						 	<li>Blog</li>
						 	<li>Contact Us</li>
						 </ul>
						 <button class="btn">Sign In</button>
					</div>
				</header>
				<div class="header-bot">
					<div class="left">
						<div class="topic">
							<p><span>Introducing </span><span style="color:black;">WashMe</span></p>
						</div>
						<div class="instant">
							<p>Instant & Simple Booking Easy Payment Methods</p>
						</div>
						<div class="button">
							<button>Talk to Our Experts Now</button>
						</div>
					</div>
					<div class="right">
						<div class="image-right">
							<img src="../asset/images/laundry1.png" alt="laundry">
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>