<html>
	<head>
		<title>Wash Me</title>
		<link rel="stylesheet" type="text/css" href="../asset/css/welcome.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	</head>
	<body>
		<div class="header">
			<div class="image">
				<img src="../asset/images/header.jpg" alt="header">
			</div>
			<div class="blue-color">
				<div class="box"></div>
			</div>
			<div class="topic-top">
				<header>
					<div class="logo">
						<img src="../asset/images/logo.png" alt="logo">
					</div>
					<div class="list">
						 <ul>
						 	<li>Home</li>
						 	<li>About Wash Me</li>
						 	<li>Our Apps</li>
						 	<li>Blog</li>
						 	<li>Contact Us</li>
						 </ul>
						 <button class="btn">Sign In</button>
					</div>
				</header>
				<div class="container1">
					<div class="header-bot">
						<div class="left">
							<div class="instant">
								<p>Instant & Simple Booking Easy Payment Methods</p>
							</div>
							<div class="button">
								<button>Talk to Our Experts Now</button>
							</div>
						</div>
						<div class="right">
							<div class="image-right">
								<img src="../asset/images/laundry1.png" alt="laundry">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="content1">
		<div class="container1">
			<div class="content1">
				<div class="content1-top">
					<p>Highlights Features</p>
				</div>
				<div class="content1-bot">
					<div class="content1-top1">
						<div class="left">
							<div class="logo1">
								<img src="../asset/images/right.png" alt="right">
							</div>
							<div class="paraf">
								<p class="social">Social Login</p>
								<p class="user">Users can log in to WashMe with social media accounts like Facebook rather by using username or password</p>
							</div>
						</div>
						<div class="right">
							<div class="logo1">
								<img src="../asset/images/tag.png" alt="right">
							</div>
							<div class="paraf">
								<p class="social">Promo Code</p>
								<p class="user">Using this promo codes user can get a discount on their bookings.</p>
							</div>
						</div>
					</div>
					<div class="content1-top1" id="bot">
						<div class="left">
							<div class="logo1">
								<img src="../asset/images/chronometer.png" alt="right">
							</div>
							<div class="paraf">
								<p class="social">Real Time GPS Tracking</p>
								<p class="user">Users can track the current status of WashMe launderers. By this way, the user can know the location of launderers and the job was done.</p>
							</div>
						</div>		
						<div class="right">
							<div class="logo1">
								<img src="../asset/images/settings.png" alt="right">
							</div>
							<div class="paraf">
								<p class="social">100% Customizable</p>
								<p class="user">WashMe are completely customizable and it is easy to use.</p>
							</div>
						</div>		
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="content2">
			<div class="container1">
				<div class="content">
					<div class="left">
						<img src="../asset/images/features.jpg" alt="featur">
					</div>
					<div class="right">
						<div class="top">
							<p>WashMe App features</p>
						</div>
						<div class="middle">
							<p>This app comes on both Android & Ios App</p>
						</div>
						<div class="bot">
							<div class="kiri">
								<p>Setup Profile</p>
								<p>Go Online / Go Offline</p>
								<p>Instant Notifications</p>
								<p>Booking Cancallation</p>
							</div>
							<div class="kanan">
								<p>Email Alerts</p>
								<p>Chat With Users</p>
								<p>Locating Users</p>
								<p>Update Bank Details</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content3">
			<div class="container1">
				<div class="content3-content">
					<div class="top">
						<div class="big-topic">
							<p>How it Works</p>
						</div>
						<div class="small-topic">
							<p>Make people's life happier with WashMe</p>
						</div>
					</div>
					<div class="bot">
						<div class="row">
							<div class="col-lg-2 col-md-2 topic">
								<div class="img">
									<img src="../asset/images/laundry-basket.png" alt="">
								</div>
								<div class="topic1"><p>Step 1</p></div>
								<div class="topic2"><p>Collect your Clothes</p></div>
							</div>
							<div class="col-lg-2 col-md-2 box-send">
								<div class="send">
									<img src="../asset/images/send.png">
								</div>
							</div>
							<div class="col-lg-2 col-md-2 topic">
								<div class="img">
									<img src="../asset/images/washing-clothes.png" alt="">
								</div>
								<div class="topic1"><p>Step 2</p></div>
								<div class="topic2"><p>Job Accepted</p></div>
							</div>
							<div class="col-lg-2 col-md-2 box-send">
								<div class="send rotate">
									<img src="../asset/images/send.png">
								</div>
							</div>
							<div class="col-lg-2 col-md-2 topic">
								<div class="img">
									<img src="../asset/images/delivery-truck.png" alt="">
								</div>
								<div class="topic1"><p>Step 3</p></div>
								<div class="topic2"><p>Lauderer Pick Up Your Clothes</p></div>
							</div>
						</div>
						<div class="row bot-second">
							<div class="col-lg-2 col-md-2 box-send none">
								<div class="send">
									<img src="../asset/images/send.png">
								</div>
							</div>
							<div class="col-lg-2 col-md-2 topic">
								<div class="img">
									<img src="../asset/images/washing-machine2.png" alt="">
								</div>
								<div class="topic1"><p>Step 4</p></div>
								<div class="topic2"><p>Clean Your Clothes</p></div>
							</div>
							<div class="col-lg-2 col-md-2 box-send">
								<div class="send">
									<img src="../asset/images/send.png">
								</div>
							</div>
							<div class="col-lg-2 col-md-2 topic">
								<div class="img">
									<img src="../asset/images/suit.png" alt="">
								</div>
								<div class="topic1"><p>Step 5</p></div>
								<div class="topic2"><p>Deliver Clean and Folded Clothes</p></div>
							</div>
							<div class="col-lg-2 col-md-2 box-send">
								<div class="send rotate">
									<img src="../asset/images/send.png">
								</div>
							</div>
							<div class="col-lg-2 col-md-2 topic">
								<div class="img">
									<img src="../asset/images/tag2.png" alt="">
								</div>
								<div class="topic1"><p>Step 6</p></div>
								<div class="topic2"><p>Convenient and Affordable Price</p></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content4">
			<div class="image">
				<img src="../asset/images/header1.jpg">
			</div>
			<div class="blue-color"></div>
			<div class="all-content">
				<div class="container1">
					<div class="content4-top">
						<div class="topic">
							<p>More Highlights Features</p>
						</div>
					</div>
					<div class="content4-bot">
						<div class="box-bot">
							<div class="box-bot-left">
								<div class="logo">
									<img src="../asset/images/user.png" alt="user">
								</div>
								<div class="desc">
									<div class="desc-top">
										<p>View and Edit Profile</p>
									</div>
									<div class="desc-bot">
										<p>The user and the lauderer can edit their profiles with the help of the application.</p>
									</div>
								</div>
							</div>
							<div class="box-bot-left">
								<div class="logo">
									<img src="../asset/images/review.png" alt="review">
								</div>
								<div class="desc desc-one">
									<div class="desc-top">
										<p>Rating and Reviews</p>
									</div>
									<div class="desc-bot">
										<p>All the rating and reviews can be viewed by the admin, so that the admin can improve the quality of services.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="box-bot la">
							<div class="box-bot-left">
								<div class="logo">
									<img src="../asset/images/credit-card.png" alt="card ">
								</div>
								<div class="desc">
									<div class="desc-top">
										<p>Easy Payment methods</p>
									</div>
									<div class="desc-bot">
										<p>Users can pay for their laundry services either by cash, wallet or any secured payment gateways.</p>
									</div>
								</div>
							</div>
							<div class="box-bot-left">
								<div class="logo">
									<img src="../asset/images/rect.png" alt="rect">
								</div>
								<div class="desc desc-one">
									<div class="desc-top">
										<p>Powerful Admin Dashboard</p>
									</div>
									<div class="desc-bot">
										<p>Using the Admin panel, admin can control both mobile Apps and the websites.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="about_us">
			<div class="container1">
				<div class="top">
					<div class="topic">
						<p>About WashMe</p>
					</div>
				</div>
				<div class="bot">
					<div class="topic">
						<p><span style="font-weight: bold;">WashMe</span> is the ultimate solution to get your laundry DONE. Done right and done affordably - whether you're too busy or just in a pinch we'll pick-up, clean, fold, and return your laundry, nice and neat- so you don't have to worry about it!<br>We help you do less laundry so you can do more important things. Place your order online, over the phone and (soon in your mobile app!)</p>
					</div>
				</div>
			</div>
		</div>
		<div class="contact">
			<div class="container1">
				<div class="topic">
					<p>Contact Us</p>
				</div>
				<div class="top">
					<p>Thank you for your interest in WashMe. Please fill out the form below to ask a question, leave a statement or enquiry will get back to you at our earliest convenience.</p>
				</div>
				<div class="bot">
					<div class="row">
						<div class="col-lg-4 box">
							<div class="inside">
							<div class="img">
								<img src="../asset/images/telephone.png" alt="phone">
							</div>
							<div class="phone">
								<p>Phone</p>
							</div>
							<div class="number">
								<p>+628992959698</p>
							</div>
							</div>
						</div>
						<div class="col-lg-4 box">
							<div class="inside">
							<div class="img">
								<img src="../asset/images/opened-email-envelope.png" alt="phone">
							</div>
							<div class="phone">
								<p>Email</p>
							</div>
							<div class="number">
								<p>washme@gmail.com</p>
							</div>
							</div>
						</div>
						<div class="col-lg-4 box">
							<div class="inside-last">
							<div class="img">
								<img src="../asset/images/share.png" alt="phone">
							</div>
							<div class="phone">
								<p>Stay in Touch</p>
							</div>
							<div class="desc">
								<p>Also find us on Social Media</p>
							</div>
							<div class="social">
								<ul>
									<li><img src="../asset/images/facebook.png" alt="social"></li>
									<li><img src="../asset/images/google.png" alt="social"></li>
									<li><img src="../asset/images/youtube.png" alt="social"></li>
								</ul>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content5">
			<div class="container2">
				<div class="content5-top">
					<p>Talk To Our Experts Now!</p>
				</div>
				<div class="content5-bot">
					<div class="bot-top">
						<div class="left">
							<input class="form-control" type="text" name="name" placeholder="Your Name">
						</div>
						<div class="right">
							<input class="form-control" type="text" name="email" placeholder="Your Email">
						</div>
					</div>
					<div class="bot-middle">
						<div class="left">
							<input class="form-control" type="text" name="number" placeholder="Your Phone Number">
						</div> 
						<div class="right">
							<input class="form-control" type="text" name="address" placeholder="Your Address">
						</div>
					</div>
					<div class="bot-bot">
						<div class="message">
							<textarea rows="4" class="form-control" placeholder="Your Message"></textarea>
						</div>
					</div>
					<div class="button"><button>Send Message</button></div>
				</div>
			</div>
		</div>
	</body>
</html>