*{
	font-family: coolvetica;
	overflow-x: hidden;
	outline: none;
}

html,body{
	box-sizing: border-box;
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
}

.background{
	display: flex;
}

.box-right{
	width: 80%;
	padding:30px;
	padding-top: 70px;
}