*{
	font-family: coolvetica;
	overflow-x: hidden;
	outline: none;
}

html,body{
	box-sizing: border-box;
	margin:0;
	padding:0;
	max-width: 100%;
}
.big-body{
	display: flex;
}
.body{
	display: flex;
	flex-direction: column;
	margin:0;
	padding:0 !important;
	width: 20%;
	height: 100%;
}

.left{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background:#120f2b;
}

.left .top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background:  #ebebeb;
	padding:5px;
	padding-left:10px;
}

.left .top .logo{
	width: 30%;
}

.left .top .logo img{
	width: 60px;
	height: 60px;
}

.left .top .topic{
	width: 70%;
}
.left .top .topic p{
	margin:0;
	font-size: 40px;
	color: #0c354f;
}

.left .bot{
	display: flex;
	flex-direction: column;
}

.left .bot p{
	margin:0;
	color:white;
}

.left .bot .info-user{
	display: flex;
	background:#5ba9cd;
	margin-top:40px;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.left .bot .info-user .picture{
	width: 25%;
}

.left .bot .info-user .picture img{
	width: 50px;
	height: 50px;
}

.left .bot .info-user .info{
	width: 75%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 15px;
}

.left .bot .info-user .info .information{
	display: flex;
}

.left .bot .info-user .info .information img{
	width: 25px;
	height: 25px;
}

.name{
	font-size: 20px;
}
.coin{
	margin-left:10px;
}

.status{
	margin-left:10px;
}

.menu{
	display: flex;
	flex-direction: column;
}

.menu1{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:10px;
	padding-left: 20px;
	margin-top: 30px;
}

.menu1:hover{
	background:#5ba9cd;
	cursor: pointer;
}

.menu1 .logo{
	width: 10%;
}

.menu1 .nama{
	width: 90%;
	padding-left:10px;
	font-size: 18px;
}

.menu1 .logo img{
	width: 25px;
}

.menu2{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:10px;
	padding-left: 20px;
}

.menu2:hover{
	background:#5ba9cd;
	cursor: pointer;
}

.menu2 .logo{
	width: 10%;
}

.menu2 .nama{
	width: 90%;
	padding-left:10px;
	font-size: 18px;
}

.menu2 .logo img{
	width: 25px;
}

.logout{
	margin-top: 60px;
	background-color: #ed145b;
}
.flex{
	display: flex;
}
.right{
	width: 80%;
	background-color: #ebebeb;
	height: 100%;
}
.right .order{
	font-size: 40px;
	color: #605252;
	margin: 5px 30px 5px 30px;
}
.right .border{
	background-color: white;
	padding: 20px 30px;
}
.right .washing{
	width: 80px;
	height: 80px;
}
.jarak{
	margin-left: 20px;
}
.right .jarak .text1{
	font-size: 20px;
}
.right .jarak .text2{
	font-size: 13px;
	color: #605252;
}
.right .jarak .text3{
	font-size: 25px;
	color: #6dcff6;
	margin-top: 5px;
}