*{
	font-family: coolvetica;
	outline: none;
}

html,body{
	box-sizing: border-box;
	margin:0;
	padding:0;
	max-width: 100%;
}

.big-body{
	display: flex;
	justify-content: space-between;
}
.body{
	display: flex;
	flex-direction: column;
	margin:0;
	padding:0 !important;
	width: 26%;
	height: 100%;
}

.left{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background:#120f2b;
}

.left .top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background:  #ebebeb;
	padding:5px;
	padding-left:10px;
}

.left .top .logo{
	width: 30%;
}

.left .top .logo img{
	width: 60px;
	height: 60px;
}

.left .top .topic{
	width: 70%;
}
.left .top .topic p{
	margin:0;
	font-size: 40px;
	color: #0c354f;
}

.left .bot{
	display: flex;
	flex-direction: column;
}

.left .bot p{
	margin:0;
	color:white;
}

.left .bot .info-user{
	display: flex;
	background:#5ba9cd;
	margin-top:40px;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.left .bot .info-user .picture{
	width: 25%;
}

.left .bot .info-user .picture img{
	width: 50px;
	height: 50px;
}

.left .bot .info-user .info{
	width: 75%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 15px;
}

.left .bot .info-user .info .information{
	display: flex;
}

.left .bot .info-user .info .information img{
	width: 25px;
	height: 25px;
}

.name{
	font-size: 20px;
}
.coin{
	margin-left:10px;
}

.status{
	margin-left:10px;
}

.menu{
	display: flex;
	flex-direction: column;
}

.menu1{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:10px;
	padding-left: 20px;
	margin-top: 30px;
}

.aktif{
	background:#5ba9cd;
}

.menu1:hover{
	background:#5ba9cd;
	cursor: pointer;
}

.menu1 .logo{
	width: 10%;
}

.menu1 .nama{
	width: 90%;
	padding-left:10px;
	font-size: 18px;
}

.menu1 .logo img{
	width: 25px;
}

.menu2{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:10px;
	padding-left: 20px;
}

.menu2:hover{
	background:#5ba9cd;
	cursor: pointer;
}

.menu2 .logo{
	width: 10%;
}

.menu2 .nama{
	width: 90%;
	padding-left:10px;
	font-size: 18px;
}

.menu2 .logo img{
	width: 25px;
}

.logout{
	margin-top: 60px;
	background-color: #ed145b; 
}
.search{
	display: flex;
}
.search-left{
	width: 98%;
	display: flex;
}
.search-left .img-search{
	width: 25px;
}
#search{
	width: 100%;
	padding-left:10px;
	font-size: 20px;
}
.keranjang{
	width: 40px;
	height: 40px;
	margin-left: 10px;
}
.flex{
	display: flex;
}
.box-right{
	width: 100%;
	padding: 60px 70px 0px 20px;
	background-color: #ebebeb;
}
.box-right .title{
	font-size: 30px;
	font-weight: bold;
}
.box-right .flex .border1{
	border: 1px solid black;
	background-color: white;
	width: 100%;
	padding: 6px 15px;
	font-size: 18px;
	color: #605252;
}
.box-right .flex .border2{
	border: 1px solid;
	background-color: #ebebeb;
	padding: 7px 15px;
}
.box-right .flex .border2 .img{
	width: 25px;
	height: 25px;
}
.box-right .flex .img2{
	width: 45px;
	height: 45px;
	margin-left: 20px;
}
.background-img{
	background-image: url("../images/laundry4.png");
	margin-top: 30px;
	padding: 20px;
}
.select{
	color: #605252;
	font-size: 20px;
	padding: 2px 5px;
}
.background-img .flex .box2{
	background-color: white;
	width: 160px;
	height: 120px;
	cursor: pointer;
	margin: 20px 0px 0px 20px;
}
.background-img .flex .box2 .img{
	width: 80px;
	height: 60px;
	margin: 20px 20px 0px 40px;
}
.background-img .flex .box2 .text{
	color: #605252;
	font-size: 18px;
	text-align: center;
	margin-top: 5px;
}
.star{
	width: 20px;
	height: 20px;
}
.box-right .iron{
	font-size: 25px;
	font-weight: bold;
	margin-top: 10px;
}
.box-right .background-in{
	background-color: white;
	padding: 10px;
}
.box-right .background-in .img{
	width: 100px;
	height: 100px;
}
.box-right .background-in .border-bot .text3{
	font-size: 15px;
	color: black;
}
.box-right .background-in .border-bot .harga{
	color: #ed145b;
	font-weight: bold;
}
.box-right .background-in .border-bot{
	width: 150px;
	padding: 10px;
	cursor: pointer;
}
.box-right .background-in .border-bot .text4{
	color: #605252;
}