*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	outline: none;
	font-family: arial;
}
.all{
	width: 100%;
	height: 100%;
	display: flex;
	background-color: whitesmoke;
}
.navbar1{
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color:#120f2b;
}
.navbar1 .logo{
	width: 100%;
	padding:10px;
	display: flex;
	justify-content: space-between;
	background-color: whitesmoke;
	align-items: center;
}
.navbar1 .logo img{
	width: 60px;
	height: 60px;
}
.navbar1 .logo p{
	margin:0;
	width: 65%;
	font-size: 35px;
	font-weight: bold;
	color: #0c354f;
}
.navbar1 .information-user{
	width: 100%;
	padding:10px;
	background-color: rgb(91,169,205);
	color:white;
	font-weight: bold;
	font-size: 20px;
	margin-top:30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.navbar1 .information-user p{
	margin:0;
}
.navbar a{
	width: 100%;
	margin:0;
	padding:0;
	text-align: left;
}
.button{
	width: 100%;
	padding:10px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:10px;
}
.button .btn{
	width: 90%;
	padding:5px;
	background-color: white;
	font-weight: bold;
	font-size: 18px;
}
.button .btn:hover{
	background-color: whitesmoke;
}
.menu{
	width: 100%;
	padding-top:10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;

}
.menu .menu-box{
	width: 100%;
	padding-top:10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu .menu-box:hover{
	cursor: pointer;
	background-color:#0c354f;
}
.menu .menu-box .img img{
	width: 20px;
	height: 20px;
}
.menu .menu-box .menu-text{
	width: 85%;
	color:white;
	font-weight: bold;
	font-size: 14px;
}
.menu .menu-box .menu-text p{
	margin:0;
}
.right{
	border: 1px solid;
	width: 80%;
}
.right .box{
	display: flex;
	padding: 0px 40px;
}
.right .box .box-in{
	border: 2px solid;
	border-radius: 5px;
	padding: 10px 25px;
	background-color: white;
	width: 450px;
	margin: auto;
	height: 230px;
}
.right .top{
	margin-top: 100px;
}
.right .box .box-in .box-top p{
	font-size: 25px;
	font-weight: bold;
}
.right .box .box-in .box-mid .text p{
	line-height: 7px;
}
.right .box .box-in .box-mid p{
	font-size: 20px;
	color: #343a40;
	text-align: center;
}
.right .box .box-in .box-mid{
	margin-top: 25px;
}
.right .box .box-in .box-mid img{
	width: 20%;
	height: 30px;
}
.top1{
	margin-top: 20px;
}
.right .box .box-in .box-bot button{
	border-radius: 5px;
	border: none;
	padding: 5px 10px;
	width: 150px;
	color: white;
	background-color: #ed145b;
	margin-bottom: 0;
	font-size: 15px;
}
.right .box .box-in .mid{
	display: flex;
	align-items: center;
	justify-content: center;
}
.right .box .box-in .mid p{
	margin-top: 15px;
	margin-left: 5px;
}
.right .box .box-in .mid-p p{
	margin-top: 40px;
}
.right .box .box-in .box-bot .button1{
	margin-top: 30px;
}
.right .box .box-in .box-bot .button2{
	margin-top: 40px;
}
.right .box .box-in .box-bot .button3{
	margin-top: 25px;
}
.right .box .box-in .box-bot .button4{
	margin-top: 40px;
}