*{
	overflow-x: hidden;
	font-family: coolvetica;
}
form{
	padding-top: 10px;
}
.logo{
	width: 40px;
	margin-left: 20px;
}
.search{
	max-width: 20px;
}
.border{
	border: 1px solid black;
	border-radius: 30px;
	padding: 5px 15px;
	width: 240px;
	margin-left: 10px;
}
.border .text1{
	margin-left: 10px;
	margin-top: 2px;
	color: grey;
}
.kiri{
	margin-left: 15px;
}
.border-mid1{
	border: 1px solid lightgrey;
	width: 130px;
	padding-bottom: 10px;
	margin: 10px;
	text-align: center;
}
.border-mid{
	padding: 15px;
	text-align: center;
	width: 110px;
}
.coin{
	width: 30px;
	margin-top: 5px;
	margin-left: 20px;
}
.text{
	font-size: 25px;
	font-weight: bold;
}
.text-mid{
	font-size: 18px;
	text-align: center;
	margin-top: -10px;
}
.border-mid2{
	padding: 15px 10px 5px 20px;
	display: flex;
	flex-direction: column;
}
.border-mid2 .flex{
	display: flex;
}
.border-mid2 .flex .text-mid1{
	font-size: 18px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
}
.border-mid2 .flex .text-mid2{
	width: 54%;
	font-size: 18px;
	color: #6dcff6;
	font-weight: bold;
	text-align: right;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.border-mid2 .flex .text-mid3{
	width: 90%;
	font-size: 18px;
	color: #6dcff6;
	font-weight: bold;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.background{
	background-color: #ebebeb;
	height: 30px;
}
.slide{
	max-width: 100%;
	padding: 20px;
}
.hr1{
	width: 100%;
	border: 0.5px solid black;
}
.box{
	text-align: center;
	max-width: 250px;
	max-height: 300px;
	margin: 10px 5px 15px 5px;
}
.box .text{
	font-weight: bold;
	font-size: 15px;
	color: grey;
}
.img{
	width: 200px;
	height: 150px;
}
.box2{
	max-height: 300px;
	max-width: 200px;
	margin: 10px 5px 20px 5px;
}
.box2 .text{
	font-size: 15px;
	font-weight: bold;
	color: black;
}
.box2 .harga{
	color: #ed145b;
	font-weight: bold;
}
.box2 .flex .text{
	color: grey;
	font-size: 13px;
	margin-left: 5px;
	font-weight: bold;
}
.star{
	width: 20px;
	height: 20px;
}
.box3{
	padding: 20px;
}
.box3 .text1{
	color: #6dcff6;
	font-size: 25px;
}
.box3 .text2{
	color: #605252;
	font-size: 20px;
}
.box3 .button{
	background-color: #ed145b;
	color: white;
	font-size: 20px;
	border-radius: 10px;
	cursor: pointer;
	border : none;
	padding: 0px 10px;
}
.box3 .text3{
	color: #ed145b;
	margin-top: 10px;
	margin-left: 5px;
	font-size: 20px;
	cursor: pointer;
}
.hr2{
	border: 0.9px solid darkgrey;
}
.flex{
	display: flex;
}
.flex1{
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex1 a{
	color: black;
}
.flex1 a:hover{
	color: black;
	text-decoration: none;
}
.footer{
	margin-top: -16px;
	background-color: #ebebeb;
	text-align: center;
}
.footer a:hover{
	text-decoration: none;
}
.img2{
	width: 35px;
	height: 35px;
}
.box4{
	width: 100%;
	padding: 10px 20px 10px 20px;
}
.box4 .text{
	color:  #6dcff6;
	font-size: 15px;
	margin-top: 5px;
}
.box4 .text1{
	color:  grey;
	font-size: 15px;
	margin-top: 5px;
}