*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	background-color: #6dcff6;
	font-family: coolvetica;
}
.container-fluid-fullscreen{
	width: 100%;
	height: 100%;
}
html,body{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	overflow-x: hidden;
}
.header{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.header .topic-top header{
	width: 100%;
	height: 100%;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header .logo{
	margin-left: 10px;
}
.topic-top header .logo img{
	width: 65px;
	height: 65px;
}
header .list{
	width: 33%;
	height: 100%;
	margin-right: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.list .geser{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.list .geser button{
	height: 30px;
	font-size: 16px;
	color: white;
}
.list .geser .button{
	width: 83px;
	padding: 0px 10px 0px 10px;
	border: 3px solid white;
	background-color: transparent;
	outline: none;
}
.list .geser .button1{
	margin-left: 5px;
	padding: 0px 20px 0px 20px;
	border: 3px solid #0c354f;
	background-color: #0c354f;
	outline: none;
}
.content{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 40px;
	justify-content: center;
	align-items: center;
}
.content .content-in{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.content-in .tagline{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.content-in .tagline h1{
	color: white;
	font-size: 40px;
	text-align: center;
}
.content-in .tagline h1 .font{
	color: #0c354f;
}
.content-in .login{
	width: 100%;
	padding: 0px 20px 10px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.content-in .login .kotak{
	width: 100%;
	border: 1px solid white;
	padding: 10px;
	padding-bottom: 0px;
	background-color: white;
}
.content-in .login .kotak .label{
	font-size: 20px;
}
.content-in .login .kotak .input{
	font-size: 15px;
	height: 30px;
}
.content-in .login .kotak .button2{
	margin: 0 auto;
	font-size: 15px;
	height: 35px;
	background-color: #0c354f;
	color: white;
	border-radius: 0px;
}
.content-in .flex{
	width: 100%;
	margin-top: -20px;
	padding: 0px 20px 0px 20px;
	text-align: center;
}
.content-in .flex .option .opt{
	font-size: 12px;
}
.content-in .flex .medsos{
	margin-top: -10px;
}
.content-in .flex .medsos a{
	text-decoration: none;
}
.content-in .flex .medsos img{
	width: 30px;
	height: 30px;
}