*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: coolvetica;
}
.container-fluid-fullscreen{
	width: 100%;
	height: 100%;
}
html,body{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	overflow-x: hidden;
}
.header{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.header .topic-top header{
	width: 100%;
	height: 100%;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: -10px;
}
.hr1{
	width: 100%;
	border: 0.5px solid black;
}
.content{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0px 25px 0px 30px;
}
.content .content-in{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content .content-in .user p{
	margin-top: -5px;
}
.content .content-in .user .no{
	margin-top: -15px;
}
.content .content-in .edit{
	margin-top: -55px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.content .content-in .edit button{
	width: 100%;
	height: 30px;
	border: 1px solid #ed145b;
	font-size: 15px;
	color: white;
	border-radius: 10px;
	background-color: #ed145b;
	padding: 0px 15px 0px 15px;
}