*{
	font-family: coolvetica;
	overflow-x: hidden;
}
.header{
	font-size: 30px;
	color: #605252;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}
.hr1{
	border: 0.5px solid #605252;
}
.background{
	background-color: #ebebeb;
	height: 25px;
	margin-top: -16px;
}
.box{
	padding: 10px 20px;
}
.box .text1{
	font-size: 25px;
	font-weight: bold;
}
.box .text2{
	font-weight: 20px;
	color: #605252;
	text-align: right;
	justify-content: center;
}
.box2{
	margin-top: 30px;
}
.box2 .img{
	width: 40px;
	height: 40px;
}
.box2 .img2{
	width: 60px;
	height: 60px;
}
.box2 .text1{
	font-size: 25px;
}
.box2 .text{
	font-size: 25px;
	margin-top: 10px;
}
.top{
	margin-top: 20px;
}
.box2 .button{
	background-color: #6dcff6;
	border: none;
	color: white;
	font-size: 25px;
	margin-top: 30px;
	text-align: center;
	width: 100%;
	border-radius: 5px;
}
.hr2{
	border: 0.9px solid darkgrey;
}
.flex{
	display: flex;
}
.flex1{
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer{
	margin-top: -16px;
	background-color: #ebebeb;
	padding: 10px 0px;
	text-align: center;
}
.footer a:hover{
	text-decoration: none;
}
.img2{
	width: 50px;
	height: 50px;
}
.box4{
	width: 150px;
}
.box4 .text{
	color:  #6dcff6;
	font-size: 20px;
	margin-top: 5px;
}
.box4 .text1{
	color:  grey;
	font-size: 20px;
	margin-top: 5px;
}