*{
	font-family: coolvetica;
}
.header{
	font-size: 30px;
	color: #605252;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}
.hr1{
	border: 0.5px solid #605252;
}
.background{
	background-color: #ebebeb;
	height: 20px;
	margin-top: -16px;
}
.box{
	padding: 10px 20px;
}
.box .text1{
	font-size: 25px;
	font-weight: bold;
}
.box .text2{
	font-weight: 20px;
	color: #605252;
	text-align: right;
	justify-content: center;
}