*{
	font-family: coolvetica;
}
.body{
	padding: 30px 50px;
	height: 1800px;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header .border{
	background-color: #605252;
	border-radius: 50%;
	padding: 20px;
}
.header .border img{
	width: 70px;
	height: 70px;
}
.gambar{
	text-align: center;
}
.gambar img{
	width: 75%;
}
.flex{
	display: flex;
	align-items: center;
}
.text1{
	font-size: 55px;
}
.harga{
	color: #ed145b;
	font-size: 50px;
}
.flex .star{
	width: 60px;
	height: 60px;
	margin-right: 10px;
}
.flex .text2{
	color: #605252;
	font-size: 50px;
	margin: 0px 15px;
}
.flex .harga{
	margin: 0;
}
.flex .garis{
	border: 1px solid #605252;
	background-color: #605252;
	width: 7px;
	height: 50px;
}
.top{
	margin-top: 30px;
}
.flex .img1{
	width: 80px;
	height: 80px;
}
.flex .text3{
	font-size: 45px;
	color: #605252;
	margin: 0px 10px;
}
.flex .text4{
	font-size: 45px;
	margin: 0px 10px;
}
.flex .border1{
	border: 1px solid #605252;
	padding: 20px 30px;
	width: 40%;
	height: 80px;
	margin-right: 20px;
}
.flex .border1 .img{
	width: 50px;
	height: 50px;
	margin-right: 15px;
}
.flex1{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.flex .border1 .text5{
	font-size: 45px;
	margin: 0;
}
.flex .border2{
	border: 1px solid #605252;
	padding: 20px 30px;
	width: 15%;
	height: 80px;
	padding: 20px 30px;
}
.flex .border2 .img{
	width: 50px;
	height: 50px;
}
.flex .img2{
	width: 130px;
	height: 130px;
	border-radius: 50%;
}
.flex .flex1 .border3{
	padding: 0px 30px 0px 50px;
	line-height: 35px;
}
.flex .flex1 .border3 .text6{
	font-size: 45px;
}
.flex .flex1 .border3 .text7{
	font-size: 35px;
	color: #605252;
}
.flex .flex1 .button{
	background-color: white;
	border: 1px solid #ed145b;
	color: #ed145b;
	padding: 0px 40px;
	border-radius: 50px;
	font-size: 40px;
	height: 75px;
}
.top1{
	margin-top: 60px;
}
.border4{
	line-height: 35px;
	text-align: center;
}
.border4 .text8{
	font-size: 40px;
	color: #605252;
}
.border4 .garis1{
	background-color: #605252;
	width: 4px;
	height: 100px;
}
.footer{
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 0px;
	z-index:100;
	width: 100%;
}
.footer .footer-box{
	background-color: #6dcff6;
	width: 50%;
	height: 170px;
	padding: 10px 30px;
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.footer .footer-box .image{
	width: 110px;
	height: 100px;
}
.footer .footer-box .teks{
	font-size: 40px;
	color: white;
}
.footer .footer-box .garis{
	background-color: grey;
	width: 3px;
	height: 130px;
}
.footer .footer-box1{
	background-color: #ed145b;
	width: 50%;
	height: 170px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer .footer-box1 .teks{
	color: white;
	font-size: 50px;
}