*{
	font-family: coolvetica;
}
.flex{
	display: flex;
	align-items: center;
}
.border-top{
	padding: 10px;
}
.border-top .img{
	width: 40px;
	height: 30px;
}
.border-top .text{
	color: #605252;
	margin-left: 50px;
	font-size: 30px;
}
.padding{
	padding: 10px 0px 10px 90px;
}
.padding .text{
	font-size: 25px;
}
.border-mid1{
	margin-left: 40px;
}
.hr1{
	border: 2px solid #6dcff6;
	width: 50%;
}
.hr2{
	border: 0.5px solid;
	width: 50%;
}