*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: coolvetica;
	outline: none;
}
.container-fluid-fullscreen{
	width: 100%;
	height: 100%;
	padding: 10px 0px;
}
html,body{
	width: 100%;
	display: flex;
	justify-content: center;
	overflow-x: hidden;
	padding-right: 10px;
	margin: 10px 10px 0px 10px;
}
.header{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.header .topic-top{
	width: 100%;
	height: 100%;
}
.header .topic-top header{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	margin-left: 20px;
}
.topic-top header .logo img{
	width: 65px;
	height: 65px;
}
header .list{
	width: 90%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.list .geser{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.list .geser h1{
	font-size: 50px;
}
.content{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
}
.content .content-in{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.content-in .kotak-besar{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 20px;
}
.content-in a{
	text-decoration: none;
	color: black;
}
.content-in .up{
	margin-top: 20px;
}
.content-in .kotak-kiri{
	display: flex;
	flex-direction: column;
}
.content-in .kotak-besar .kotak-kiri img{
	width: 310px;
	height: 310px;
}
.content-in .kotak-besar .kotak-kanan{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	padding-right: 10px;
}
.content-in .kotak-besar .kotak-kanan .teks1{
	font-size: 50px;
	padding-left: 5px;
}
.content-in .kotak-besar .kotak-kanan .naik{
	margin-top: -10px;
	display: flex;
	align-items: center;
}
.content-in .kotak-besar .kotak-kanan img{
	width: 80px;
	height: 80px;
	margin-right: 5px;
}
.content-in .kotak-besar .kotak-kanan span{
	font-size: 45px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}